form a {
  margin-left: 5px;
}

html {
	height: 100%;
    width: 100%;
    background-image: url("/img/background.jpg");
}
body {
	background: transparent;
}

.leaflet-container {
	width: 100%;
	position: absolute;
	top: 65px;
	bottom: 0;
	right: 0;
	left: 0;
}